<div class="fixed bottom-8 right-8">
  <a
    href="/backpacks/add"
    class="flex items-center justify-center w-14 h-14 bg-primary hover:bg-secondary rounded-full shadow-lg transition-colors duration-200"
  >
    <i class="fas fa-plus text-white text-xl"></i>
  </a>
</div>