<span class="inline-block px-2 py-1 text-sm rounded-full font-semibold
  {{#if (eq value "Y")}} bg-green-100 text-green-800
  {{else}} bg-gray-100 text-gray-600
  {{/if}}">
  {{#if (eq value "Y")}}Yes{{else}}No{{/if}}
</span>
