{{!-- The contents of this file will be injected into the {{{body}}} placeholder in the index.hbs file. --}}
<div class="container">

  <h1 class="col-sm-8 text-center m-auto display-1 font-weight-bold align-items-center align-self-center align-middle">Landing Page</h1>

  <div class="col-sm-8 text-center m-auto display-1 align-items-center align-self-center align-middle">

    {{! <a href="/api/v1/backpacks/collection">Collection Page</a> }}
    <a class="btn btn-primary" href="/backpack/add" role="button">Add Page</a>
    <a class="btn btn-primary" href="/backpack/collection" role="button">Collection Page</a>
    <a class="btn btn-primary" href="/backpack/search" role="button">Search Page</a>

  </div>

</div>